<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 
  -->
  
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  
  <system.web>
    <globalization uiCulture="de" culture="de-CH" requestEncoding="UTF-8" responseEncoding="UTF-8"/>
    <httpRuntime enableVersionHeader="false"  maxRequestLength="2048000" executionTimeout="86400"/>
    
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/w8/index.html"/>
    </customErrors>
    
  </system.web>
  
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
    
    <httpProtocol>
      <customHeaders>
        
        <!--
          https://blog.elmah.io/improving-security-in-asp-net-mvc-using-custom-headers/
        -->
        
        <remove name="X-Powered-By" />
        <remove name="X-SourceFiles" />
        <remove name="X-AspNet-Version" />
        <remove name="X-AspNetMvc-Version" />
        
        <remove name="X-Permitted-Cross-Domain-Policies" />
        <add name="X-Permitted-Cross-Domain-Policies" value="none" />
        
        <remove name="X-Content-Type-Options" />
        <add name="X-Content-Type-Options" value="nosniff" />
        
        <remove name="Referrer-Policy" />
        <add name="Referrer-Policy" value="no-referrer" />
        
        <remove name="X-Xss-Protection" />
        <add name="X-Xss-Protection" value="1; mode=block" />
        
        <remove name="X-Frame-Options" />
        <!--
        <add name="X-Frame-Options" value="DENY" />
        -->
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        
        
      </customHeaders>
    </httpProtocol>
    
    <security>
      <!--removes Azure headers-->
      <requestFiltering removeServerHeader="true" >
        <!-- 2 GiB-->
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
      
    </security>
    
  </system.webServer>
  
</configuration>
